*{
    box-sizing: border-box;
}

.parent{
    border: 5px solid blue;
    min-height: 150px;
    
    display: flex;
    
   

   
}

.child{
    border: 5px solid red;

}

.child1{
order: 6;
}

.child2{
    order: 5;
    }

    .child3{
order: 4;
}

.child4{
    order: 3;
    }

.child5{
   order: 2;
  }
        
  
.child6{
  order: 1;
  }
            



